<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %>

<div class="container">
    <hr>
   <div class="card">
       <div class="card-header">
            <h2>Cadastro de Categoria</h2>
       </div>
       <div class="card-body">
        <form method="POST" action="/categories/save">
            <input type="text" name="title"class="form-control" placeholder="Titulo da Categoria"><br>
            <button class="btn btn-secondary">Cadastrar</button>
        </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>