<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        ProjetoBlog
    </a>

    <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
            <a href="/" class="nav-link">home</a>
        </li>


    <% categories.forEach(category => { %>
        <li class="nav-item">
            <a href="/category/<%= category.slug %>" class="nav-link"><%= category.title %></a>
        </li>
    <% }) %>    
    </ul>
</nav> 